@font-face
  font-style: normal
  font-family: "Meslo LG"
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "NanumBarunGothic"
  src: local("NaumBarunGothic"), url("../lib/nanum-barun-gothic/NanumBarunGothic.ttf") format("truetype")
